<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, id: "flash_#{name}" %>
<% end %>
<%= devise_error_messages! %>
<!-- this data-resource is necessary for it to call the correct route while signing in -->
<%= puts "resource is: #{resource.to_s}" %>
<div data-resource="<%= Auth.configuration.mount_path[1..-1] + "/" + resource.class.name.downcase.pluralize %>">
You need to Sign in to continue.
</div>