<!-- this goes to the otp controller, here i will have to enable html responses -->


<%= render :partial => "auth/confirmations/enter_otp.html.erb", locals: {user: @auth_user} %>

<h3>Click below to resend the SMS OTP</h3>
<%= render :partial => "auth/confirmations/resend_sms_otp.html.erb", locals: {user: @auth_user} %>