<%= form_for(@auth_shopping_product, url: products_path) do |f| %>
  <% if @auth_shopping_product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@auth_shopping_product.errors.count, "error") %> prohibited this auth_shopping_product from being saved:</h2>

      <ul>
      <% @auth_shopping_product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
