<p id="notice"><%= notice %></p>
<div class="fields">

	<% @auth_shopping_product.attributes_to_show.each do |attr| %>

		
		<div><%= @auth_shopping_product.send("#{attr}") %></div>

	<% end %>
</div>
<!-- show the instructions -->
<% @auth_shopping_product.instructions.each do |instruction| %>
	<!-- render the instructions partial -->
	<!-- we want a tabbed approach for this -->
<% end %>

<div class="row">
    <div class="col s12">
      <ul class="tabs tabs-fixed-width tab-demo z-depth-1">
        <li class="tab col s3"><a href="#test1">Test 1</a></li>
        <li class="tab col s3"><a class="active" href="#test2">Test 2</a></li>
        <li class="tab col s3 disabled"><a href="#test3">Disabled Tab</a></li>
        <li class="tab col s3"><a href="#test4">Test 4</a></li>
      </ul>
    </div>
    <div id="test1" class="col s12">Test 1</div>
    <div id="test2" class="col s12">Test 2</div>
    <div id="test3" class="col s12">Test 3</div>
    <div id="test4" class="col s12">Test 4</div>
  </div>

<%= link_to 'Edit', edit_product_path(@auth_shopping_product) %> |
<%= link_to 'Back', products_path %>
