<table>
	<thead>
		<th>Cart Item</th>
		<th>Status</th>
		<th>Price</th>
	</thead>
	<tbody>
		<% cart_items.each_with_index {|citem,key| %>

		<tr>
			<td><%= citem.id.to_s %>
				<%= render :partial => "remove_cart_item.html.erb", locals: {cart_item: citem} %>
			</td>
			<td><%= citem.accepted.to_s %></td>
			<td><%= citem.price.to_s %></td>
		</tr>

		<% } %>

		<% 1.times do |n| %>
		<tr>
			<!-- leave one blank row -->
			<td> </td>
			<td> </td>
			<td> </td>
		</tr>
		<% end %>
		
	</tbody>
</table>