<p id="notice"><%= notice %></p>

<%= render :partial => "cart_items.html.erb", locals: {cart_items: @cart_items, resource: lookup_resource} %>

<br>

<%= link_to 'Add Another Test', tests_path %>
<br>
<%= link_to 'Checkout',shopping_carts_path({cart: {add_cart_item_ids: @cart_items.map{|c| c = c.id.to_s}}}), :method=> :post %>