<a class="waves-effect waves-light btn-small" id="toggle_barcode_scanner">Scan BarCode</a>
<!-- if they click this, then it should show an instruction -->
<div id="scan_barcode_instructions" style="display:none;">
	<h5 class="teal-text text-darken-2">Bring the barcode close to the camera, and hold it there.</h5>
	<h5 id="barcode_instructions" class="teal-text text-darken-2">The barcode when correctly scanned, will be displayed in the box below</h5>
	<div id="scanned_bar_code" class="fs-22" style="border: 1px solid grey; padding: 2rem;">
		
	</div>
</div>

<div id="scanner_container" style="position:relative;"></div>

