<p>You need this test if you have (Select Applicable Options)</p>
<br>
<form action="#">
  <p>
    <label>
      <input type="checkbox" />
      <span>Weight Gain</span>
    </label>
  </p>
  <p>
    <label>
      <input type="checkbox" />
      <span>Morning Joint Stiffness</span>
    </label>
  </p>
  <p>
    <label>
      <input type="checkbox" />
      <span>Swollen Joints</span>
    </label>
  </p>
</form>