<div class="row m-0-bottom">
	<div class="col l12 m12 s12">
		<div class="row">
			<img src="/assets/auth/profile.jpg" class="shadow" style="margin-top:10px;"/>
			
			<div class="row m-20-top">
				<div class="col l6 m6 s6 offset-l3 offset-m3 offset-s3 teal white-text center" style="padding: 9px 5px 9px 5px; border:1px solid #009688; border-radius:5px;">
				<span>Aditya Kanabar</span>
				</div>
			</div>
			
			<div class="row m-20-top">
				<div class="col l6 m6 s6 offset-l3 offset-m3 offset-s3 teal white-text center" style="padding: 9px 5px 9px 5px; border:1px solid #009688;border-radius:5px;">
				<span>Social Entrepreneur, Founder Weebly.com</span>
				</div>
			</div>

			<div class="row m-20-top">
				<div class="col l6 m6 s6 offset-l3 offset-m3 offset-s3 teal white-text center" style="padding: 9px 5px 9px 5px; border:1px solid #009688;border-radius:5px;">
				<span>Pune,India</span>
				</div>
			</div>
			<!--<span><i class="mdi-action-settings left"></i></span>-->
			<div class="row m-20-top">
				<div class="col l6 m6 s6 offset-l3 offset-m3 offset-s3 teal white-text center" style="padding: 9px 5px 9px 5px; border:1px solid #009688;border-radius:5px;">
				<span>Settings</span>
				</div>
			</div>
			<div class="row m-20-top">
				<div class="col l3 m3 s3 offset-l3 offset-m3 offset-s3 teal white-text center" style="padding: 9px 5px 9px 5px; border:1px solid #009688;border-right-color: white;">
				<span><i class="mdi-social-people left" ></i></span>
				232 Followers
				</div>
				<div class="col l3 m3 s3 teal white-text center" style="padding: 9px 5px 9px 5px; border:1px solid #009688;">
				<span><i class="mdi-social-people-outline left" ></i></span>
				2.1k Following
				</div>
			</div>
		</div>
	</div>
</div>
<!--
<div class="row center" style="border-radius:10px;">
	
	<div class="col l5 m5 s5 white teal-text" style="padding: 9px 5px 9px 5px; border:1px solid #009688;">
		<span><i class="mdi-social-people left" ></i></span>
			<span>232 Followers</span>
	</div>

	<div class="col l5 m5 s5 white offset-l2 offset-m2 offset-s2  teal-text" style="padding: 9px 5px 9px 5px; border:1px solid #009688;">
		<span><i class="mdi-social-people-outline left" ></i></span>
			<span>2.1k Following</span>
	</div>	
</div>
-->
