<div class="teal" style="border-radius:10px;">
<div class="row m-0-bottom p-0-bottom center p-30-right p-30-left" style="padding-left:40px; padding-right:40px; padding-top:10px; padding-bottom:0px; border:1px solid #009688; border-radius:5px; width:50%; margin-left:25%;">
	<div class="col l12 m12 s12">
		<div class="row">
			<img src="/assets/auth/profile.jpg" class="shadow"/>
			
			<div class="row m-20-top">
				<div class="teal white-text center" style="padding: 9px 5px 9px 5px; border:1px solid white; border-radius:5px;">
				<span>Aditya Kanabar</span>
				</div>
			</div>
			
			<div class="row m-20-top">
				<div class="teal white-text center" style="padding: 9px 5px 9px 5px; border:1px solid white;border-radius:5px;">
				<span>Social Entrepreneur, Founder Weebly.com</span>
				</div>
			</div>
			<div class="row m-20-top">
				<div class="col l6 m6 s6  teal white-text center" style="padding: 9px 5px 9px 5px; border:1px solid white;border-right-color: white;">
				
				232 Followers
				</div>
				<div class="col l6 m6 s6  teal white-text center" style="padding: 9px 5px 9px 5px; border:1px solid white;">
				
				2.1k Following
				</div>
			</div>
			<div class="row m-20-top center m-0-bottom">
				<a class="btn-floating btn-large waves-effect waves-light teal lighten-2"><i class="material-icons white-text">add</i></a>
				<div class="white-text fw-400 fs-12 m-5-top">
				Follow
				</div>
			</div>
		</div>
	</div>
</div>
</div>