<div class="row center">
	
	<div class="col l12 m12 s12">
		<!-- here should be the profile image -->
		<img src="/assets/auth/profile.jpg" class="shadow" style="min-height:200px; width:200px;"/>
	</div>
	
</div>
<div class="row center m-30-top" style="border-radius:10px;">
	
	<div class="col l3 m3 s3 offset-l1 offset-m1 offset-s1 teal white-text" style="padding: 10px 5px 10px 5px;">
		Aditya Kanabar
	</div>
	<div class="col l5 m5 s5 white teal-text" style="padding: 9px 5px 9px 5px; border:1px solid #009688;">
		Think before you type
	</div>
	<div class="col l1 m1 s1" style="padding: 0px 5px 9px 5px; border:1px #009688; margin-top: 0px; ">
		<i class="mdi-social-people-outline teal-text" title="Follow" style="font-size: 28px;"></i>
	</div>
	<div class="col l1 m1 s1" style="padding: 0px 5px 9px 5px; border:1px #009688; margin-top:3px; margin-left:-35px;">
		<i class="mdi-action-settings teal-text" title="Report this Profile" style="font-size: 25px;"></i>
	</div>
	

</div>

