<%= render :partial => 'auth/users/profiles/user_data.html.erb', locals: {:resource => @resource} %>
<div class="teal left" style="border-radius:10px;width:48%;box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);  ">
<div class="row m-0-bottom p-0-bottom center p-30-right p-30-left" style="padding-left:40px; padding-right:40px; padding-top:10px; padding-bottom:0px;  border-radius:5px;">
	<div class="col l12 m12 s12">
		<div class="row">
			<img src="/assets/auth/profile.jpg" class="shadow"/>
			
			<div class="row m-20-top">
				<div class="white teal-text center fw-400" style="padding: 9px 5px 9px 5px; border:2px solid white; border-radius:5px; width:70%; margin-left:15%;">
				<span>Aditya Kanabar</span>
				</div>
			</div>
			
			<div class="row m-20-top">
				<div class="white teal-text center fw-400" style="padding: 9px 5px 9px 5px; border:2px solid white;border-radius:5px;width:70%; margin-left:15%;">
				<span>Social Entrepreneur, Founder Weebly.com</span>
				</div>
			</div>
			<div class="row m-20-top fw-400" style="width:70%; margin-left:15%;">
				<div class="white teal-text left" style="padding: 9px 5px 9px 5px; border:2px solid white; border-right-color: #009688; border-top-left-radius: 5px; border-bottom-left-radius: 5px; width:50%;">
				
				232 Followers
				</div>
				<div class="white teal-text left" style="padding: 9px 5px 9px 5px; border:2px solid white;border-top-right-radius: 5px; border-bottom-right-radius: 5px; width:50%;">
				
				2.1k Following
				</div>
			</div>
			<div class="row m-20-top center m-0-bottom">
				<a class="btn-floating btn-large waves-effect waves-light white lighten-2"><i class="material-icons teal-text">add</i></a>
				<div class="white-text fw-400 fs-12 m-5-top">
				Follow
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<div class="left" style="border-radius:5px; width:48%; margin-left:2%; border:2px solid white;box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);">
	<div class="custom-calendar-wrap">
		<div id="custom-inner" class="custom-inner">
			<div class="custom-header clearfix">
				<div>
					<span id="custom-prev" class="custom-prev"></span>
					<span id="custom-next" class="custom-next"></span>
				</div>
				<h2 id="custom-month" class="custom-month"></h2>
				<h3 id="custom-year" class="custom-year"></h3>
			</div>
			<div id="calendar" class="fc-calendar-container"></div>
		</div>
	</div>
</div>
<!-- <div id="get_activities" style="cursor:pointer;">get_activities</div> -->
