<html>
  <head>
  	<%= stylesheet_link_tag    "auth/application", media: "all" %>
  	<%= stylesheet_link_tag    "https://fonts.googleapis.com/icon?family=Material+Icons", media: "all" %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
