<% if @auth_shopping_payment.payment_pending %>
	<!-- if its not a gateway payment. -->
	<!-- or if its not a gateway payment. -->
	<% if @auth_shopping_payment.is_gateway? %>
		<% if @auth_shopping_payment.gateway_callback_called == false %>
			
			<div>Proceed to PayUMoney By Clicking the button below</div>
			<%= payment_to_gateway_form(@auth_shopping_payment) %>

		<% else %>
			<%= render :partial => "refresh_payment.html.erb" %>
		<% end %>
	<% else %>
		<!-- just give the option to refresh the payment, this is something that can be done with refunds or discounts or any other payment. -->
		<%= render :partial => "refresh_payment.html.erb" %>
	<% end %>
<% end %>
	
