<h1>New Auth Shopping Payment</h1>

<% if @auth_shopping_payment.is_gateway? %>
	<%= render :partial => "gateway.html.erb" %>
<% else %>
	<%= render :partial => "cash_card_cheque.html.erb" %>
<% end %>

<%= link_to 'Back', payments_path %>
