<div class="row m-0-bottom">
  <div class="col l6 m6 s6 offset-l3">
    <form autocomplete="off">
          <div class="input-field">
            <input id="search" type="search" required>
            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
          </div>
    </form>
  </div>
</div>
