<div class="row" style="margin-bottom:1.4rem;">
<ul class="collection with-header" id="search_collection">
	<li class="collection-header" id="search_title">
		<h4>
			<div class="input-field">
				<input id="search" type="search" placeholder="Search" required>
				<i class="material-icons">close</i>
			</div>
		</h4>
	</li>
</ul>
</div>

