<div id="image_id"><%= BSON::ObjectId.new.to_s %></div>
<div id="parent_id"><%= @model.id.to_s %></div>
<div id="parent_class"><%= @model.class.name.to_s %></div>
<div id="upload_widget_opener"></div>