<div id="image_id" style="display:none;"><%= BSON::ObjectId.new.to_s %></div>
<div id="parent_id" style="display:none;"><%= @model.id.to_s %></div>
<div id="parent_class" style="display:none;"><%= @model.class.name.to_s %></div>
<div id="upload_widget_opener"></div>