<div class="row center">
<ul class="collection">
	<li class="collection-header">
		<%= @auth_work_communication.name %>
	</li>
	<!-- the email details -->
	<li class="collection-item">

	</li>
	<%= link_to "Edit Communication", edit_communication_path(@auth_work_communication.id.to_s) %>
</ul>
</div>