<div class="parallax-container">
  <div class="parallax"><img src="assets/lab.jpg"></div>
</div>
<div class="section white">
  
    <h2 class="header teal-text text-darken-3">We're Fast - <i> Really Fast </i></h2>
    <p class="grey-text text-darken-3 lighten-3">Accuracy and speed are guarenteed. We've scoured the globe for the best equipment and spared no expense. Intra-lab efficiency is augemented by means of a first-in-India conveyor system. Nothing moves unless it is barcoded. All equipment is fully automated, online, and in-sync with our servers. All this so that you get your reports within 30 minutes <i> - THE PATHOFAST GUARENTEE</i></p>
  
</div>
<div class="parallax-container">
  <div class="parallax"><img src="assets/ai_lab.jpg"></div>
</div>

<div class="section white">
  
    <h2 class="header teal-text text-darken-3">Powered by AI - From Day One</h2>
    <p class="grey-text text-darken-3 lighten-3">We teamed up with German Machine Vision Experts to bring you AI driven diagnostics. Give it a spin -> Click a Picture of your Nails , we will tell you if your're anemic.</p>
  
</div>

<div class="parallax-container">
  <div class="parallax"><img src="assets/ai_lab.jpg"></div>
</div>

<div class="section white">
  
    <h2 class="header teal-text text-darken-3">Watch us perform your Tests Live</h2>
    <p class="grey-text text-darken-3 lighten-3">An industry changing IT system, pioneered by PathoFast, means that you can watch us as we perform your tests.<i><b>Every single step</b></i>, whether its pipetting 2ml of saline into a test tube, or more complex procedures are recorded and uploaded securely for you to see. We want you to know , that your test was done, with World-Class standards, and perfect precision, Each Time, Every Time.</p>
  
</div>


<div class="parallax-container">
  <div class="parallax"><img src="assets/ai_lab.jpg"></div>
</div>

<div class="section white">
  
    <h2 class="header teal-text text-darken-3">Symptom ? Test !</h2>
    <p class="grey-text text-darken-3 lighten-3">Use our symptom checker for free. Type in your symptom and see which tests can help you get to the bottom of your problem.</p>
  
</div>


<div class="parallax-container">
  <div class="parallax"><img src="assets/ai_lab.jpg"></div>
</div>

<div class="section white">
  
    <h2 class="header teal-text text-darken-3">Say Hi! to Jessie</h2>
    <p class="grey-text text-darken-3 lighten-3">Jessie will show you how to diagnose, at home, without any equipment or painful tests, your diseases. Watch Jessie in her 30 sec videos.</p>
  
</div>



<div class="parallax-container">
  <div class="parallax"><img src="assets/ai_lab.jpg"></div>
</div>

<div class="section white">
  
    <h2 class="header teal-text text-darken-3">How much wine do you drink in a week? More is good!</h2>
    <p class="grey-text text-darken-3 lighten-3">Take our simple 10 step questionnaires, based on internationally accepted research, to find your risk for lifestyle diseases.</p>
    <p>
    Start Now!
    </p>
  
</div>

Built with an obsession called perfection.