<div class="preloader-wrapper small active m-5-left" style="vertical-align:middle; height:18px; width:18px; display:none;" id="progress_circle">
	<div class="spinner-layer spinner-white-only">
	  <div class="circle-clipper left">
	    <div class="circle"></div>
	  </div><div class="gap-patch">
	    <div class="circle"></div>
	  </div><div class="circle-clipper right">
	    <div class="circle"></div>
	  </div>
	</div>
</div>