<div class="row">
	<div class="input-field col l6 m6 s12 offset-l3 offset-m3">
        <input placeholder="Search" id="place_search" type="text" class="validate fs-22 center">
        <label for="place_search"></label>
    </div>
</div>