<div id="ajax_error_modal" class="modal">
	<%= render :partial => "/modals/base_modal/base", :locals => {:modal_content => "/modals/ajax_error_modal_content.html.erb", :modal_footer => nil, :modal_title => "Oops!", :namespace => "_ajax_error"} %>
</div>