<div id="sign_in_inputs">
  <div class="input-field">
    <input autofocus="autofocus" type="email" value="" name="user[email]" id="user_email">
    <label for="user_email" class="">Email</label>
  </div>
  <div class="input-field m-50-top">
    <input autocomplete="off" type="password" name="user[password]" id="user_password">
    <label for="user_password" class="">Password</label>
  </div>
</div>