<div id="sign_in_needed_modal" class="modal">
	<%= render :partial => "/modals/base_modal/base", :locals => {:modal_content => '/modals/login_default_content.html.erb', :modal_footer => '/modals/login_navigation_options.html.erb', :modal_title => 'Sign In', :namespace => ""} %>
</div>
