<div class="row m-40-top p-20-top p-20-bottom white fs-18 error_notification" style="border:1px solid gainsboro; border-radius:10px; min-height:67px; display:none;">
  <div class="col l1 m1 s1 offset-l2 amber-text text-darken-4">
    <i class="mdi-alert-error"></i>
  </div>
  <div class="col l6 m6 s12 blue-grey-text text-darken-2 error_message">
      
  </div>
</div>