A SMS with an One-Time-Password was sent to <%= resource.additional_login_param %>. Please enter it below to complete verification.
<div class="input-field">
    <input autofocus="autofocus" type="text" value="" name="<%= resource.class.name.downcase %>[otp]" id="<%= resource.class.name.downcase %>_otp">
    <label for="<%= resource.class.name.downcase %>_otp" class="">Enter the OTP sent on your mobile</label>
</div>
