<div class="m-50-top row m-0-left m-0-right m-0-bottom" id="oauth_and_submit">
  <% if defined?(skip_oauth_options) != nil && skip_oauth_options == true %>
  <% else %>
    <div class="col l6 m6 s6 left p-0-left p-0-right" id="oauth_icons">
      <% Auth.configuration.oauth_credentials.keys.each_with_index {|provider,index| %>
      	<a href="<%= Auth::OmniAuth::Path.omniauth_request_path(resource.class.name.to_s,provider) %>"><img src="/assets/auth/<%= provider %>.svg" height="60" width="60" class="oauth_icon
      	<% if index > 0 %>
      		m-10-left
      	<% end %>
      	"/></a>
      <% } %>
    </div>
  <% end %>

  <div class="col l6 m6 s6 p-0-left p-15-right right cursor-pointer" style="border:1px solid #9e9e9e; border-radius:5px; height:60px; width:60px;" id="submit" >
     <i class="material-icons grey-text right" style=" font-size:1.8em; padding-top:1.00rem; text-align:center;" id="submit_icon">done</i>
  </div>

</div>