<div id="sign_up_inputs" style="display:none;">
  <div class="input-field m-50-top">
    <input autocomplete="off" type="password" name="<%= resource.class.name.downcase %>[password_confirmation]" id="<%= resource.class.name.downcase %>_password_confirmation">
    <label for="<%= resource.class.name.downcase %>_password_confirmation">Password confirmation</label>
    <span class="helper-text" data-error=""></span>
  </div>
  <div style="text-align:center; padding-top:3rem;" id="recaptcha_tags">
    
  </div>
</div>