<h4><%= flash[:notice] %></h4>
<%= render :partial => "auth/shared/object_errors.html.erb", locals: {active_model_object: @profile_resource} %>

<% if current_signed_in_resource.is_admin? %>

	<% if current_signed_in_resource.id.to_s == @profile_resource.id.to_s %>
		
		<%= render :partial => "auth/profiles/admin_profile.html.erb" %>

	<% else %>
		<!-- give options to resend sms otp, resend confirmation email, basically render the options partial from admin_create_users -->	
		<%= render :partial => "auth/admin_create_users/admin_actions.html.erb", locals: {user: @profile_resource} %>
	<% end %>

<% else %>
	
<% end %>